<div class="face-snap-container" ngClass="{ snapped: userHasSnap }">
    <div class="face-snap-card">
      <h1>{{FaceSnap.title | uppercase }}</h1>
      @if (FaceSnap.location){
        <p>At {{FaceSnap.location}}</p>
      }@else {
        <p>Not location for now</p>
      }
      <img [src]="FaceSnap.url" [alt]="FaceSnap.title">
      <p>{{FaceSnap.description | lowercase }}</p>
      <p>Create at : {{FaceSnap.createdAt | date: 'longDate' }}</p>
      <p><button (click)="onSnap()">{{textButton}}</button> 
        <span [ngStyle]="{ color: 'rgb(0, ' + FaceSnap.snaps + ', 0)' }">🤌{{FaceSnap.snaps}}</span>
    </p>
</div>
